body { margin: 0; 
  font-family: 'Segoe UI', sans-serif;
   background-color: #121212; color: white; }
.App { padding: 20px; max-width: 1200px; margin: auto; }

header { display: flex; 
  justify-content: space-between; 
  align-items: center;
   margin-bottom: 40px; 
   border-bottom: 1px solid #333; 
   padding-bottom: 20px; }

.refresh-btn { background: #61dafb; 
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer; 
      display: flex; 
      align-items: center;
      gap: 10px; }

.coin-grid { display: grid;
   grid-template-columns: 
   repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px; }

.coin-card { background: #1e1e1e; 
  padding: 25px; border-radius: 15px;
  text-align: center; 
  transition: 0.3s;
  border: 1px solid #333; }

.coin-card:hover { transform: translateY(-5px);
   border-color: #61dafb; }

.coin-card img { width: 50px; 
  margin-bottom: 15px; }

.price { font-size: 1.5rem;
   font-weight: bold; 
   margin: 10px 0; }

.green { color: #4caf50;
   font-weight: bold; }
.red { color: #f44336;
   font-weight: bold; }

.loader { text-align: center;
   margin-top: 100px; }

   


.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}


.search-box {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  border: 1px solid #333;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  transition: 0.3s;
}

.search-box:focus-within {
  border-color: #61dafb;
  box-shadow: 0 0 8px rgba(97, 218, 251, 0.2);
}


.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;
  font-size: 1rem;
}


.watchlist-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute; 
  top: 15px;
  right: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}


.watchlist-btn:hover {
  transform: scale(1.2);
}


.coin-card {
  position: relative; 
}

.chart-wrapper {
  margin: 15px 0;
  height: 100px; 
  width: 100%;
}
.ai-section {
  margin-top: 15px;
  padding-top: 10px;
  text-align: left;
}

.ai-badge {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.ai-advice {
  font-size: 0.85rem;
  color: #bbb;
  margin-top: 8px;
  font-style: italic;
}